<!DOCTYPE html>
<html >
    <head>
        <meta charset="UTF-8">
        <title>StockExchange</title>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <html lang="en" ng-app="StarterApp">
            <head>
                <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.min.css">
            </head>
            <body layout="row" ng-controller="AppCtrl">
                
                <div layout="column" class="relative" layout-fill role="main">
                    
                    <md-toolbar ng-show="!showSearch">
                    <div class="md-toolbar-tools">
                        
                        <h3>
                        Stocks
                        </h3>
                        <span flex></span>
                        
                    </div>
                    <md-tabs md-stretch-tabs class="md-primary" md-selected="data.selectedIndex">
                    <md-tab id="tab1" aria-controls="tab1-content">
                    Stocks
                    </md-tab>
                    </md-tabs>
                    </md-toolbar>
                    <md-content flex md-scroll-y layout="column">
                    <div class="inset" hide-sm></div>
                    <ng-switch on="data.selectedIndex" class="tabpanel-container">
                    <div role="tabpanel"
                        id="tab1-content"
                        aria-labelledby="tab1"
                        layout="column" >
                        <md-card flex-gt-sm="90" flex-gt-md="80">
                        <md-card-content>
                        <h2>User</h2>

                        <md-input-container md-theme="input" >
                         <label>User name</label>
                        <input ng-model="who">
                        </md-input-container>
                        <md-button type="submit" ng-click="getuser()">Submit</md-button>
                        
           




                        </md-card-content>
                        
                        </md-card>


                         <md-card flex-gt-sm="90" flex-gt-md="80">
                           <md-card-content>
                         <h2>Buy Sell</h2>
                   


                        <md-input-container md-theme="input" >
                         <label>Symbol</label>
                        <input ng-model="symbol">
                        <div class="hint" ng-show="invalidstock">symbol invalid</div>
                    
                        </md-input-container>

                        <md-button type="submit"  ng-click="lookup()">Lookup</md-button>
                        <br>
                        <p>
                        Bid: ${{bidprice}}</p>
                        <p>
                        Ask: ${{askprice}}
                      </p>

                         <md-radio-group ng-model="buysell">
                        <md-radio-button value="Buy" class="md-primary">Buy</md-radio-button>
                        <md-radio-button value="Sell"> Sell </md-radio-button>
                        </md-radio-group>

                        <md-input-container class="md-block">
                        <label>Number</label>
                        <input  ng-model="number" type="number" step="any" name="rate" min="0" >
                        <div class="hint" ng-show="nomoney">Not enough money</div>
                        <div class="hint" ng-show="notenoughstocks">Not enough stocks owned</div>
                        </md-input-container>


                        <md-button type="submit"  ng-click="purchase()">Submit</md-button>


                         </md-card-content>
                         </md-card>




                        <md-card flex-gt-sm="90" flex-gt-md="80">
                        <md-card-content>
                        <h2>Holdings</h2>
                        Balance ${{balance/100}}
                        <md-list>
                        <md-item ng-repeat="item in holdings ">
                        <md-item-content>
                        <div class="md-tile-content">
                         <h3>  {{item.symbol}}: {{item.number}}   </h3>
                        </div>
                        </md-item-content>
                      
                        </md-item>
                        </md-list>
                        </md-card-content>
                        </md-card>
                        
                        
                    </div>
                    </ng-switch>
                    
                    </md-content>
                </div>
                <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular.js"></script>
                <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-animate.js"></script>
                <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular-aria.js"></script>
                <script src="//ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.js"></script>
                
                <script src="js/angular-material-icons.js"></script>
            </body>
        </html>
        
        <script src="js/index.js"></script>
    </body>
</html>